<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sapiente voluptatibus dicta eaque. Aut deserunt temporibus at nobis vel, sint explicabo porro provident recusandae deleniti eveniet fugit quaerat enim nihil!</p>
    </div>

</section>