
<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App NodeJs and MongoDB</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quibusdam architecto, enim blanditiis tempore sapiente.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae neque optio labore nesciunt suscipit culpa, doloribus obcaecati mollitia nemo eum?</p>
    <a href="https://www.google.com.ar" class=" btn-primary"></a>
</div>